@font-face {
    font-family: font-one;
    src: url(../fonts/font-one.woff);
}

@font-face {
    font-family: font-two;
    src: url(../fonts/font-two.woff);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: font-one;
}

.first-page {
    width: 100%;
    height: auto;
    background-color: #EFEAE3;
    min-height: 100vh;
    padding: 0px 32px 0px 32px;
}

nav {
    position: relative;
    padding: 32px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EFEAE3;
    width: 100%;
}

nav img {
    cursor: pointer;
    width: 176px;
    height: 80px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo {
    transition: 0.4s ease;
}

.navbar {
    background-color: #EFEAE3;
    display: flex;
    gap: 0.5em;
}

.navbar li {
    cursor: pointer;
    position: relative;
    border-radius: 30px;
    border: 1px solid rgba(11, 5, 0, .2);
    padding: 13px 26px;
    list-style: none;
    overflow: hidden;
}

.navbar li::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #0B0500;
    position: absolute;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all 0.4s ease;
}

.navbar li:hover::after {
    border-radius: 0px;
    bottom: 0%;
}

.navbar li a {
    z-index: 2;
    font-family: font-two;
    font-size: 18px;
    text-decoration: none;
    color: #0b0500;
    position: relative;
}

.navbar li:hover a {
    color: white;
}

.menu {
    cursor: pointer;
    position: relative;
    border-radius: 30px;
    border: 1px solid rgba(11, 5, 0, .2);
    padding: 11px 26px 13px 56px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #EFEAE3;
}

.menu-text {
    font-family: font-two;
    font-size: 18px;
    text-decoration: none;
    color: #0b0500;
}

.bar-icon {
    position: absolute;
    left: 24px;
}

.bar {
    transition: 0.4s ease;
    background-color: rgb(11, 5, 0);
    width: 1.25rem;
    height: 1px;
    position: absolute;
}

.bar-one {
    margin: 2px 0px;
    transform-origin: center;
}

.bar-two {
    margin: -2px 0px;
    transform-origin: center;
}

.content-div {
    border-bottom: 1px solid #BFBBB6;
    margin-top: 14em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 3.75em;
}

.content-div h1 {
    text-align: right;
    letter-spacing: -.03em;
    text-transform: uppercase;
    font-family: font-one;
    font-size: 9.5vw;
    font-weight: 500;
    line-height: 0.8;
    color: #0B0500;
}

.content-div h4 {
    color: #0B0500;
    letter-spacing: -.03em;
    font-size: 1.75vw;
    font-weight: 500;
    line-height: 1;
}

.video-div {
    padding: 3.75em 0px 0px 0px;
}

.first-video {
    border-radius: 25px;
    width: 100%;
}

.anime-parent {
    background-color: #FE330A;
    position: absolute;
    width: 42vw;
    height: 34vw;
    top: 75vh;
    right: 0;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(15px);
}

.anime-child-1 {
    position: absolute;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background-color: #FE330A;
    animation-name: anime1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    filter: blur(15px);
}


@keyframes anime1 {
    from {
        transform-style: preserve-3d;
        transform: translate(-20%, 10%);
    }

    to {
        transform-style: preserve-3d;
        transform: translate(-10%, -10%);
    }
}

.anime-child-2 {
    position: absolute;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    right: 50px;
    bottom: -60px;
    background: linear-gradient(#FE330A, #FF611C);
    animation-name: anime2;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    filter: blur(15px);
}

.second-page {
    background-color: #EFEAE3;
    width: 100%;
    height: auto;
    min-height: 100vh;
}

.moving-text-div {
    background-color: #FF611C;
}

@keyframes anime2 {
    to {
        transform: translateY(5%);
    }

    from {
        transform: translateY(-35%);
    }
}



/* media-query for large screen */

@media (max-width:991px) {

    .content-div {
        margin-top: 10em;
    }

    .content-div h1 {
        font-size: 112px;
        /* font-size: 8vw; */
    }

    .content-div h4 {
        font-size: 21px;
    }

    .anime-parent {
        background-color: #FE330A;
        position: absolute;
        width: 50vw;
        height: 45vw;
        top: 64vh;
    }

    .anime-child-1 {
        width: 40vw;
        height: 40vw;
    }

    .anime-child-2 {
        width: 40vw;
        height: 40vw;
    }
}

/* media-query for medium screen */

@media (max-width:767px) {

    .menu {
        display: flex;
    }

    .navbar {
        transform: translateY(-130%);
        transition: 0.4s ease;
        top: 100%;
        left: 0;
        width: 100%;
        height: auto;
        position: absolute;
        background-color: #EFEAE3;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        border-bottom-right-radius: 1.875em;
        border-bottom-left-radius: 1.875em;
        padding-top: 3.75rem;
        padding-bottom: 3.75em;
    }

    .navbar li {
        padding: 0px 0px;
        margin-left: 2em;
        margin-right: 32px;
        position: relative;
        border: none;
        list-style: none;
        color: #0b0500;
    }

    .navbar li::after {
        content: "";
        width: 0%;
        height: 0%;
    }

    .navbar li a {
        font-family: font-one;
        color: #0b0500;
        letter-spacing: -.03em;
        text-transform: uppercase;
        font-size: 84px;
        font-weight: 500;
        line-height: 1.1;
    }

    .navbar li:hover a {
        color: #0b0500;
    }

    .content-div {
        flex-direction: column;
        justify-content: space-between;
        margin-top: 8em;
    }

    .small {
        order: 1;
        align-self: flex-start;
        margin-top: 2em;
    }

    .big {
        margin-bottom: 2em;
    }

    .content-div h1 {
        font-size: 6.3em;
    }

    .anime-parent {
        background-color: #FE330A;
        position: absolute;
        width: 53vw;
        height: 45vw;
        top: 75vh;
    }

    .anime-child-1 {
        width: 40vw;
        height: 40vw;
    }

    .anime-child-2 {
        width: 40vw;
        height: 40vw;
    }

}

/* media query for small screen */

@media (max-width:479px) {

    .first-page {
        padding: 0em 1.25em 0em 1.25em;
    }

    .navbar {
        transform: translateY(-130%);
        transition: 0.4s ease;
        top: 100%;
        left: 0;
        width: 100%;
        height: auto;
        position: absolute;
        background-color: #EFEAE3;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        border-bottom-right-radius: 1.875em;
        border-bottom-left-radius: 1.875em;
        padding-top: 3.75rem;
        padding-bottom: 3.75em;
    }

    .navbar li a {
        font-family: font-one;
        color: #0b0500;
        letter-spacing: -.03em;
        text-transform: uppercase;
        font-size: 56px;
        font-weight: 500;
        line-height: 1.1;
    }

    .navbar li {
        overflow: visible;
        margin-left: 16px;
        margin-right: 0px;
        /* background-color: aqua; */
        position: relative;
        border: none;
        list-style: none;
        color: #0b0500;
    }

    .menu {
        padding: 11px 20px 11px 48px;
    }

    .bar-icon {
        position: absolute;
        left: 20px;
    }

    .content-div {
        margin-top: 6em;
        flex-direction: column;
        justify-content: space-between;
    }

    .small {
        order: 1;
        align-self: flex-start;
        margin-top: 2.5em;
    }

    .big {
        margin-bottom: 2.5em;
    }

    .content-div h1 {
        font-size: 4em;
    }

    .menu-text {
        font-family: font-two;
        font-size: 16px;
        text-decoration: none;
        color: #0b0500;
    }

    .video-div {
        margin: 0em 0px 0px 0px;
    }

    .first-video {
        border-radius: 18px;
        width: 100%;
        height: 130vw;
        object-fit: cover;
    }

    .anime-parent {
        background-color: #FE330A;
        position: absolute;
        width: 80vw;
        height: 60vw;
        top: 70vh;
    }

    .anime-child-1 {
        width: 55vw;
        height: 55vw;
    }

    .anime-child-2 {
        width: 55vw;
        height: 58vw;
    }

}

/* media query for xsmall screen */

@media (max-width:px) {}