@font-face {
    font-family: font-one;
    src: url(../fonts/font-one.woff);
}

@font-face {
    font-family: font-two;
    src: url(../fonts/font-two.woff);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: font-one;
}

html,
body {
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    z-index: 2;
}

.loader {
    transition: 0.6s ease;
    z-index: 1999;
    position: fixed;
    transform: translateY(0%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #0B0500;
    color: #FE7523;
}

.loader h1 {
    display: none;
    font-size: 4em;
    line-height: 1;
}

.first-page {
    width: 100%;
    height: auto;
    background-color: #EFEAE3;
    min-height: 100vh;
    padding: 0px 32px 0px 32px;
}

nav {
    position: relative;
    padding: 32px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EFEAE3;
    width: 100%;
}

nav img {
    cursor: pointer;
    width: 176px;
    height: 80px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo {
    transition: 0.4s ease;
}

.navbar {
    background-color: #EFEAE3;
    display: flex;
    gap: 0.5em;
}

.navbar li {
    cursor: pointer;
    position: relative;
    border-radius: 30px;
    border: 1px solid rgba(11, 5, 0, .2);
    padding: 13px 26px;
    list-style: none;
    overflow: hidden;
}

.navbar li::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #0B0500;
    position: absolute;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all 0.4s ease;
}

.navbar li:hover::after {
    border-radius: 0px;
    bottom: 0%;
}

.navbar li a {
    z-index: 2;
    font-family: font-two;
    font-size: 18px;
    text-decoration: none;
    color: #0b0500;
    position: relative;
}

.navbar li:hover a {
    color: white;
}

.menu {
    cursor: pointer;
    position: relative;
    border-radius: 30px;
    border: 1px solid rgba(11, 5, 0, .2);
    padding: 11px 26px 13px 56px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #EFEAE3;
}

.menu-text {
    font-family: font-two;
    font-size: 18px;
    text-decoration: none;
    color: #0b0500;
}

.bar-icon {
    position: absolute;
    left: 24px;
}

.bar {
    transition: 0.4s ease;
    background-color: rgb(11, 5, 0);
    width: 1.25rem;
    height: 1px;
    position: absolute;
}

.bar-one {
    margin: 2px 0px;
    transform-origin: center;
}

.bar-two {
    margin: -2px 0px;
    transform-origin: center;
}

.content-div {
    border-bottom: 1px solid #BFBBB6;
    margin-top: 14em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 3.75em;
}

.content-div h1 {
    text-align: right;
    letter-spacing: -.03em;
    text-transform: uppercase;
    font-family: font-one;
    font-size: 9.5vw;
    font-weight: 500;
    line-height: 0.8;
    color: #0B0500;
}

.content-div h4 {
    color: #0B0500;
    letter-spacing: -.03em;
    font-size: 1.75vw;
    font-weight: 500;
    line-height: 1;
}

.video-div {
    padding: 3.75em 0px 0px 0px;
}

.first-video {
    border-radius: 25px;
    width: 100%;
}

.anime-parent {
    background-color: #FE330A;
    position: absolute;
    width: 42vw;
    height: 34vw;
    top: 75vh;
    right: 0;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(15px);
}

.anime-child-1 {
    position: absolute;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background-color: #FE330A;
    animation-name: anime1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    filter: blur(15px);
}


@keyframes anime1 {
    from {
        transform-style: preserve-3d;
        transform: translate(-20%, 10%);
    }

    to {
        transform-style: preserve-3d;
        transform: translate(-10%, -10%);
    }
}

.anime-child-2 {
    position: absolute;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    right: 50px;
    bottom: -60px;
    background: linear-gradient(#FE330A, #FF611C);
    animation-name: anime2;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    filter: blur(15px);
}

@keyframes anime2 {
    to {
        transform: translateY(5%);
    }

    from {
        transform: translateY(-35%);
    }
}

.second-page {
    background-color: #EFEAE3;
    width: 100%;
    height: auto;
    min-height: 100vh;
}

.moving-text-div {
    padding: 120px 0px;
    white-space: nowrap;
    overflow-x: auto;
}

.moving-text-div::-webkit-scrollbar {
    display: none;
}

.moving-text {
    display: inline-block;
    white-space: nowrap;
    animation-name: moving;
    animation-duration: 11s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.moving-text h1 {
    display: inline-block;
    font-size: 8.75vw;
}

.moving-circle {
    display: inline-block;
    width: 3.75em;
    height: 3.75em;
    margin-left: 1.75em;
    margin-right: 1.75em;
    margin-bottom: 1.6vw;
    border-radius: 50%;
    background-color: #FE330A;
}

@keyframes moving {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.parent-container {
    position: relative;
    padding-top: 90px;
    padding-bottom: 180px;
    padding-left: 5.625em;
    padding-right: 5.625em;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.left-text {
    z-index: 999;
    position: relative;
    width: 61.5%;
}

.left-text h2 {
    color: #0b0500;
    font-size: 4.25vw;
    font-weight: 500;
    line-height: 1;
}

.right-card {
    z-index: 999;
    position: relative;
    display: grid;
    width: 25%;
    max-width: 18vw;
    margin-top: 8.75em;
    grid-row-gap: 3em;
    grid-column-gap: 3em;
}

.right-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5em;
}

.right-card p {
    text-align: justify;
    font-family: font-two;
    line-height: 1.4;
    font-size: 1vw;
}

.circle-anime {
    position: absolute;
    top: 30%;
    left: 26%;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    filter: blur(15px);
    background: linear-gradient(to top right, #FE330A, #ec682b);
    animation-name: updowncircle;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes updowncircle {
    from {
        transform: translate(-10%, 10%) skew(0);
    }

    to {
        transform: translate(10%, -10%) skew(-12deg);
    }
}

.third-page {
    padding-bottom: 70px;
    width: 100%;
    height: auto;
    background-color: #EFEAE3;
}

.small-heading {
    padding: 50px 30px 50px 30px;
    display: flex;
    align-items: center;
    gap: 7px;
}

.small-heading p {
    font-family: font-two;
    color: #0B0500;
    font-size: 17px;
}

.small-heading i {
    color: #FE330A;
    font-size: 12px;
    border: none;
}

.wrapper {
    overflow: hidden;
    padding: 1.75em 2.5em;
    position: relative;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #0b050043;
}

.inner-context {
    color: #0b0500;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner-context h1 {
    font-size: 3.75em;
}

.inner-context>div p {
    font-family: font-two;
    letter-spacing: .02em;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
}

.inner-context>div span {
    font-family: font-two;
    font-weight: 400;
    color: rgba(0, 0, 0, .4);
    font-size: 16px;
    line-height: 1.3;
}

.overlay {
    transition: 0.2s ease;
    transform: translateY(-100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FF9831;
}

.wrapper:hover .overlay {
    transform: translateY(0%);
}

.box {
    width: 24vw;
    height: 30vw;
    background-color: transparent;
    display: none;
    position: fixed;
    top: 21%;
    overflow: hidden;
    border-radius: 15px;
    left: 50%;
    z-index: 10001;
    background-position: center;
    background-size: cover;
}

.card-parent {
    display: none;
}

.fifth-page {
    background-color: transparent;
    width: 100%;
    height: 64.2vw;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 64vw;
    padding: 0em 2em;
    background-color: #0B0500;
    z-index: 1;
}

footer>div {
    z-index: 2;
    width: 100%;
    height: 100%;
    color: #EFEAE3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.newsletter-div {
    padding-left: 5.625em;
    padding-right: 5.625em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.newsletter-div h4 {
    letter-spacing: -.03em;
    font-size: 1.9vw;
    font-weight: 500;
    line-height: 0.8;
}

.newsletter {
    display: flex;
    flex-direction: column;
    gap: 1.75vw;
}

.newsletter input {
    width: 110%;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(239, 234, 227, .3);
    padding: 0.6em 0em;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.4;
    font-family: font-two;
}

.newsletter-inner {
    position: relative;
}

.newsletter-inner span {
    font-size: 1.45vw;
    position: absolute;
    top: 0;
    right: -10%;
}

.newsletter input::placeholder {
    font-size: 1vw;
    font-family: font-two;
}

.newsletter p {
    font-family: font-two;
    line-height: 1.3;
    font-size: 1.20vw;
    letter-spacing: 0.5px;
    word-spacing: 1px;
}

.brand {
    margin-top: 7vw;
    width: 100%;
    display: flex;
    justify-content: center;
}

.brand h1 {
    font-size: 23vw;
    line-height: 0.9;
}

.footer-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.75vw;
    padding-top: 1.75vw;
    border-top: 1px solid rgba(239, 234, 227, .3);
}

.footer-links h5 {
    font-size: 1vw;
    color: #efeae3;
    line-height: 1.4;
    font-weight: 400;
    font-family: font-two;
}

.footer-links h5>i {
    font-family: font-two;
    font-weight: 100;
    font-size: 1.1vw;
}

.moving-div-one {
    filter: blur(40px);
    transform: rotate(50deg);
    z-index: -1;
    position: absolute;
    top: -20%;
    left: 0;
    width: 25vw;
    height: 62vw;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: #FE5517;
    animation-name: movingdivone;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes movingdivone {
    to {
        transform: rotate(35deg);
    }

    from {
        transform: rotate(68deg);
    }
}

.moving-div-two {
    filter: blur(40px);
    z-index: -1;
    position: absolute;
    top: 0;
    left: 5%;
    width: 100vw;
    height: 33vw;
    background-color: #FE330A;

}

.moving-div-three {
    filter: blur(40px);
    border-bottom-left-radius: 5%;
    z-index: -1;
    transform: rotate(25deg);
    position: absolute;
    right: -18%;
    top: -4%;
    width: 60vw;
    height: 45vw;
    background-color: #fe330aec;
    animation-name: movingdivthree;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.fourth-page {
    background-color: #EFEAE3;
    width: 100%;
    height: auto;
}

.fourth-page h6 {
    padding-bottom: 5em;
    display: flex;
    align-items: flex-end;
    line-height: 1.2;
    font-weight: 400;
    font-size: .960rem;
    letter-spacing: .02em;
    font-family: font-two;
    color: #0b0500;
}

.fourth-page h6>div {
    margin-right: 0.5em;
    margin-bottom: 5px;
    width: 0.6em;
    height: 0.6em;
    background-color: #fe330a;
    border-radius: 50%;
}

.fourth-page-inner {
    padding-left: 5.625em;
    padding-right: 5.625em;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    border-left: 1px solid rgba(0, 0, 0, .2);
    width: 30%;
}



@keyframes movingdivthree {
    to {
        transform: rotate(15deg);
    }

    from {
        transform: rotate(30deg);
    }
}

/* media-query for large screen */

@media (max-width:991px) {

    .content-div {
        margin-top: 10em;
    }

    .content-div h1 {
        font-size: 112px;
    }

    .content-div h4 {
        font-size: 21px;
    }

    .anime-parent {
        background-color: #FE330A;
        position: absolute;
        width: 50vw;
        height: 45vw;
        top: 64vh;
    }

    .anime-child-1 {
        width: 40vw;
        height: 40vw;
    }

    .anime-child-2 {
        width: 40vw;
        height: 40vw;
    }

    .moving-text h1 {
        font-size: 84px;
    }

    .moving-circle {
        margin-bottom: 6px;
        width: 3em;
        height: 3em;
        margin-left: 1.25em;
        margin-right: 1.25em;
    }


    .parent-container {
        padding-top: 0vw;
        padding-bottom: 130px;
        padding-left: 3em;
        padding-right: 4.5em;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
    }

    .left-text {
        width: 61.5%;
    }

    .left-text h2 {
        color: #0b0500;
        font-size: 3em;
        font-weight: 500;
        line-height: 1;
    }

    .right-card {
        display: grid;
        width: 25%;
        max-width: 18vw;
        margin-top: 7.25em;
        grid-row-gap: 2.5em;
        grid-column-gap: 2.5em;
    }

    .right-card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.5em;
    }

    .right-card p {
        text-align: justify;
        font-family: font-two;
        line-height: 1.4;
        font-size: 1.5vw;
    }

    .circle-anime {
        position: absolute;
        top: 30%;
        left: 18%;
        width: 43vw;
        height: 43vw;
    }

    .wrapper {
        display: none;
    }

    .card-parent {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 3em;
        grid-column-gap: 2em;
        padding: 0em 2em 2em 2em;
    }

    .card {
        width: 100%;
        height: auto;
    }

    .card img {
        width: 100%;
        height: 60vw;
        object-fit: cover;
        border-radius: 15px;
    }

    .card video {
        width: 100%;
        height: 60vw;
        object-fit: cover;
        border-radius: 15px;
    }

    .card>div {
        margin-top: 2em;
    }

    .card>div h1 {
        font-size: 2em;
        font-weight: 500;
        line-height: 1.2;
    }

    .card>div p {
        font-family: font-two;
        font-size: 1.2em;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: .02em;
    }

    .card>div span {
        font-family: font-two;
        font-size: 1.2em;
        font-weight: 400;
        color: rgba(0, 0, 0, .4);
    }


    .fifth-page {
        background-color: transparent;
        width: 100%;
        height: 79vw;
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 79vw;
        padding: 0em 2em;
        background-color: #0B0500;
        z-index: 1;
    }

    footer>div {
        width: 100%;
        height: 100%;
        color: #EFEAE3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    .newsletter-div {
        padding-left: 0.5em;
        padding-right: 3em;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .newsletter-div h4 {
        letter-spacing: -.03em;
        font-size: 3.5vw;
        font-weight: 500;
        line-height: 0.6;
    }

    .newsletter {
        display: flex;
        flex-direction: column;
        gap: 2vw;
    }

    .newsletter input {
        width: 110%;
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 1px solid rgba(239, 234, 227, .3);
        padding: 0.6em 0em;
        font-size: 1em;
        font-weight: 400;
        line-height: 1.4;
        font-family: font-two;
    }

    .newsletter-inner {
        position: relative;
    }

    .newsletter-inner span {
        font-size: 3.45vw;
        position: absolute;
        top: 0;
        right: -10%;
    }

    .newsletter input::placeholder {
        font-size: 1.9vw;
        font-family: font-two;
    }

    .newsletter p {
        font-family: font-two;
        line-height: 1.3;
        font-size: 2.1vw;
        letter-spacing: 0.5px;
        word-spacing: 1px;
    }

    .brand {
        margin-top: 10vw;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .brand h1 {
        font-size: 23vw;
        line-height: 1.1;
    }

    .footer-links {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2.75vw;
        padding-top: 2.75vw;
        border-top: 1px solid rgba(239, 234, 227, .3);
    }

    .footer-links h5 {
        font-size: 1.8vw;
        color: #efeae3;
        line-height: 1.4;
        font-weight: 400;
        font-family: font-two;
    }

    .footer-links h5>i {
        font-family: font-two;
        font-weight: 100;
        font-size: 2.1vw;
    }

    .moving-div-one {
        transform: rotate(50deg);
        position: absolute;
        top: -40%;
        left: -10%;
        width: 45vw;
        height: 80vw;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
        background-color: #FE5517;
    }


    .moving-div-two {
        position: absolute;
        top: 0;
        left: 5%;
        width: 100vw;
        height: 35vw;

    }

    .moving-div-three {
        border-bottom-left-radius: 5%;
        transform: rotate(25deg);
        position: absolute;
        right: -16%;
        top: -6%;
        width: 80vw;
        height: 45vw;
    }
}

/* media-query for medium screen */

@media (max-width:767px) {

    .menu {
        display: flex;
    }

    .navbar {
        transform: translateY(-130%);
        transition: 0.4s ease;
        top: 100%;
        left: 0;
        width: 100%;
        height: auto;
        position: absolute;
        background-color: #EFEAE3;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        border-bottom-right-radius: 1.875em;
        border-bottom-left-radius: 1.875em;
        padding-top: 3.75rem;
        padding-bottom: 3.75em;
    }

    .navbar li {
        padding: 0px 0px;
        margin-left: 2em;
        margin-right: 32px;
        position: relative;
        border: none;
        list-style: none;
        color: #0b0500;
    }

    .navbar li::after {
        content: "";
        width: 0%;
        height: 0%;
    }

    .navbar li a {
        font-family: font-one;
        color: #0b0500;
        letter-spacing: -.03em;
        text-transform: uppercase;
        font-size: 84px;
        font-weight: 500;
        line-height: 1.1;
    }

    .navbar li:hover a {
        color: #0b0500;
    }

    .content-div {
        flex-direction: column;
        justify-content: space-between;
        margin-top: 8em;
    }

    .small {
        order: 1;
        align-self: flex-start;
        margin-top: 2em;
    }

    .big {
        margin-bottom: 2em;
    }

    .content-div h1 {
        font-size: 6.3em;
    }

    .anime-parent {
        background-color: #FE330A;
        position: absolute;
        width: 53vw;
        height: 45vw;
        top: 75vh;
    }

    .anime-child-1 {
        width: 40vw;
        height: 40vw;
    }

    .anime-child-2 {
        width: 40vw;
        height: 40vw;
    }

    .moving-text-div {
        padding: 50px 0px;
        white-space: nowrap;
        overflow-x: auto;
    }

    .moving-text h1 {
        font-size: 56px;
    }

    .moving-circle {
        margin-bottom: 6px;
        width: 2em;
        height: 2em;
        margin-left: 0.75em;
        margin-right: 0.75em;
    }

    .parent-container {
        padding-top: 0vw;
        padding-bottom: 130px;
        padding-left: 2em;
        padding-right: 2em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
    }

    .left-text {
        width: 100%;
    }

    .left-text h2 {
        color: #0b0500;
        font-size: 6vw;
        font-weight: 500;
        line-height: 1;
    }

    .right-card {
        display: grid;
        width: 100%;
        max-width: 54vw;
        margin-top: 4em;
        grid-row-gap: 2.5em;
        grid-column-gap: 2.5em;
    }

    .right-card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.5em;
    }

    .right-card p {
        text-align: justify;
        font-family: font-two;
        line-height: 1.4;
        font-size: 2.7vw;
    }

    .circle-anime {
        position: absolute;
        top: 14%;
        left: 45%;
        width: 65vw;
        height: 65vw;
    }

    .wrapper {
        display: none;
    }

    .card img {
        width: 100%;
        height: 60vw;
        object-fit: cover;
        border-radius: 15px;
    }

    .card video {
        width: 100%;
        height: 60vw;
        object-fit: cover;
        border-radius: 15px;
    }

    .card>div {
        margin-top: 1.5em;
    }

    .card>div h1 {
        font-size: 1.5em;
        font-weight: 500;
        line-height: 1.2;
    }

    .card>div p {
        font-family: font-two;
        font-size: 1em;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: .02em;
    }

    .card>div span {
        font-family: font-two;
        font-size: 1em;
        font-weight: 400;
        color: rgba(0, 0, 0, .4);
    }

    .fifth-page {
        background-color: transparent;
        width: 100%;
        height: 102vw;
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 102vw;
        padding: 0em 2em;
        background-color: #0B0500;
        z-index: 1;
    }

    footer>div {
        width: 100%;
        height: 100%;
        color: #EFEAE3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    .newsletter-div {
        padding-left: 0em;
        padding-right: 0em;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .newsletter-div h4 {
        letter-spacing: -.03em;
        font-size: 6vw;
        font-weight: 500;
        line-height: 0.6;
    }

    .newsletter {
        display: flex;
        flex-direction: column;
        gap: 2vw;
    }

    .newsletter input {
        width: 100%;
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 1px solid rgba(239, 234, 227, .3);
        padding: 0.6em 0em;
        font-size: 1em;
        font-weight: 400;
        line-height: 1.4;
        font-family: font-two;
    }

    .newsletter-inner {
        position: relative;
    }

    .newsletter-inner span {
        font-size: 5.45vw;
        position: absolute;
        top: 0;
        right: 0%;
    }

    .newsletter input::placeholder {
        font-size: 2.9vw;
        font-family: font-two;
    }

    .newsletter p {
        font-family: font-two;
        line-height: 1.3;
        font-size: 4vw;
        letter-spacing: 0.5px;
        word-spacing: 1px;
    }

    .brand {
        margin-top: 15vw;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .brand h1 {
        font-size: 21.5vw;
        line-height: 1.3;
    }

    .footer-links {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5vw;
        padding-top: 5vw;
        border-top: 1px solid rgba(239, 234, 227, .3);
    }

    .footer-links h5 {
        font-size: 3vw;
        color: #efeae3;
        line-height: 1.4;
        font-weight: 400;
        font-family: font-two;
    }

    .footer-links h5>i {
        font-family: font-two;
        font-weight: 100;
        font-size: 3.1vw;
    }

    .moving-div-one {
        transform: rotate(50deg);
        position: absolute;
        top: -40%;
        left: -10%;
        width: 45vw;
        height: 100vw;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
        background-color: #FE5517;
    }

    .moving-div-two {
        position: absolute;
        top: 0;
        left: 5%;
        width: 100vw;
        height: 60vw;

    }

    .moving-div-three {
        border-bottom-left-radius: 5%;
        transform: rotate(25deg);
        position: absolute;
        right: -16%;
        top: -4%;
        width: 90vw;
        height: 60vw;
    }

}

/* media query for small screen */

@media (max-width:479px) {

    .loader h1 {
        display: none;
        font-size: 2.5em;
        line-height: 1;
    }

    .first-page {
        padding: 0em 1.25em 0em 1.25em;
    }

    .navbar {
        transform: translateY(-130%);
        transition: 0.4s ease;
        top: 100%;
        left: 0;
        width: 100%;
        height: auto;
        position: absolute;
        background-color: #EFEAE3;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        border-bottom-right-radius: 1.875em;
        border-bottom-left-radius: 1.875em;
        padding-top: 3.75rem;
        padding-bottom: 3.75em;
    }

    .navbar li a {
        font-family: font-one;
        color: #0b0500;
        letter-spacing: -.03em;
        text-transform: uppercase;
        font-size: 56px;
        font-weight: 500;
        line-height: 1.1;
    }

    .navbar li {
        overflow: visible;
        margin-left: 16px;
        margin-right: 0px;
        /* background-color: aqua; */
        position: relative;
        border: none;
        list-style: none;
        color: #0b0500;
    }

    .menu {
        padding: 11px 20px 11px 48px;
    }

    .bar-icon {
        position: absolute;
        left: 20px;
    }

    .content-div {
        margin-top: 6em;
        flex-direction: column;
        justify-content: space-between;
    }

    .small {
        order: 1;
        align-self: flex-start;
        margin-top: 2.5em;
    }

    .big {
        margin-bottom: 2.5em;
    }

    .content-div h1 {
        font-size: 4em;
    }

    .menu-text {
        font-family: font-two;
        font-size: 16px;
        text-decoration: none;
        color: #0b0500;
    }

    .video-div {
        margin: 0em 0px 0px 0px;
    }

    .first-video {
        border-radius: 18px;
        width: 100%;
        height: 130vw;
        object-fit: cover;
    }

    .anime-parent {
        background-color: #FE330A;
        position: absolute;
        width: 80vw;
        height: 60vw;
        top: 78vh;
    }

    .anime-child-1 {
        width: 55vw;
        height: 55vw;
    }

    .anime-child-2 {
        width: 55vw;
        height: 58vw;
    }

    .moving-text-div {
        padding: 35px 0px;
        white-space: nowrap;
        overflow-x: auto;
    }

    .moving-text h1 {
        font-size: 52.5px;
    }

    .moving-circle {
        margin-bottom: 5px;
        width: 2em;
        height: 2em;
        margin-left: 0.75em;
        margin-right: 0.75em;
    }

    .parent-container {
        padding-top: 0vw;
        padding-bottom: 110px;
        padding-left: 1.25em;
        padding-right: 1.25em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
    }

    .left-text {
        width: 100%;
    }

    .left-text h2 {
        color: #0b0500;
        font-size: 1.9em;
        font-weight: 500;
        line-height: 1;
    }

    .right-card {
        display: grid;
        width: 100%;
        max-width: 18em;
        margin-top: 3.75em;
        grid-row-gap: 2.5em;
        grid-column-gap: 2.5em;
    }

    .right-card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.5em;
    }

    .right-card p {
        text-align: justify;
        font-family: font-two;
        line-height: 1.4;
        font-size: 15px;
    }

    .circle-anime {
        position: absolute;
        top: 14%;
        left: 30%;
        width: 70vw;
        height: 70vw;
    }

    .wrapper {
        display: none;
    }

    .card-parent {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        grid-row-gap: 3em;
        grid-column-gap: 1em;
        padding: 0em 1.25em 2em 1.25em;
    }

    .card img {
        /* width: 90vw; */
        height: 100vw;
        object-fit: cover;
        border-radius: 15px;
    }

    .card video {
        /* width: 90vw; */
        height: 100vw;
        object-fit: cover;
        border-radius: 15px;
    }

    .card>div {
        margin-top: 1.5em;
    }

    .card>div h1 {
        font-size: 1.5em;
        font-weight: 500;
        line-height: 1.2;
    }

    .card>div p {
        font-family: font-two;
        font-size: 1em;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: .02em;
    }

    .card>div span {
        font-family: font-two;
        font-size: 1em;
        font-weight: 400;
        color: rgba(0, 0, 0, .4);
    }


    .fifth-page {
        background-color: transparent;
        width: 100%;
        height: 118vw;
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 118vw;
        padding: 0em 1em;
        background-color: #0B0500;
        z-index: 1;
    }

    footer>div {
        width: 100%;
        height: 100%;
        color: #EFEAE3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    .newsletter-div {
        padding-left: 0em;
        padding-right: 0em;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .newsletter-div h4 {
        letter-spacing: -.03em;
        font-size: 6vw;
        font-weight: 500;
        line-height: 0.5;
    }

    .newsletter {
        margin-top: 7vw;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0vw;
    }

    .newsletter input {
        width: 100%;
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 1px solid rgba(239, 234, 227, .3);
        padding: 0.6em 0em;
        font-size: 1em;
        font-weight: 400;
        line-height: 1.4;
        font-family: font-two;
    }

    .newsletter-inner {
        width: 100%;
        position: relative;
    }

    .newsletter-inner span {
        font-size: 6.40vw;
        position: absolute;
        top: 0;
        right: 0%;
    }

    .newsletter input::placeholder {
        font-size: 3vw;
        font-family: font-two;
    }

    .newsletter p {
        margin-bottom: 4vw;
        font-family: font-two;
        line-height: 1.3;
        font-size: 3.7vw;
        letter-spacing: 0.5px;
        word-spacing: 1px;
    }

    .brand {
        margin-top: 3vw;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .brand h1 {
        font-size: 20vw;
        line-height: 1.3;
    }

    .footer-links {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5vw;
        padding-top: 5vw;
        border-top: 1px solid rgba(239, 234, 227, .3);
    }

    .footer-links h5 {
        font-size: 3vw;
        color: #efeae3;
        line-height: 1.4;
        font-weight: 400;
        font-family: font-two;
    }

    .footer-links h5>i {
        font-family: font-two;
        font-weight: 100;
        font-size: 3.4vw;
    }

    .moving-div-one {
        transform: rotate(50deg);
        position: absolute;
        top: -40%;
        left: -10%;
        width: 45vw;
        height: 100vw;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
        background-color: #FE5517;
    }

    .moving-div-two {
        position: absolute;
        top: 0;
        left: 5%;
        width: 100vw;
        height: 50vw;

    }

    .moving-div-three {
        border-bottom-left-radius: 5%;
        transform: rotate(25deg);
        position: absolute;
        right: -30%;
        top: -15%;
        width: 110vw;
        height: 80vw;
    }
}